#root{
  min-height: 100vh;
  display: grid;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  flex-direction: column;
  gap: 30px;
}
